---
import { Image } from "astro:assets";

import constructionwebsite from "../assets/images/constructionwebsite.png";
import landscapewebsite from "../assets/images/landscapewebsite.png";
import paintingwebsite from "../assets/images/paintingwebsite.png";
import grinderwebsite from "../assets/images/grinderwebsite.png";
import handymanwebsite from "../assets/images/themasterhandymanwebsite.png";
---

<section id="portfolio">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Our Portfolio</span>
        <h2 class="cs-title">Example Works</h2>
      </div>
      <p class="cs-text">
        Explore a diverse array of projects that showcase our ability to
        transform ideas into impactful digital solutions. From sleek and modern
        website designs to feature-rich platforms, every project reflects our
        commitment to quality and innovation. With each portfolio piece, we
        demonstrate a seamless blend of creativity, functionality, and
        performance excellence tailored to meet unique client needs.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-link">
          <div class="cs-picture">
            <!--Mobile Image-->

            <Image
              loading="lazy"
              decoding="async"
              src={landscapewebsite}
              alt="landscape website built by NCAT Digital"
              width="413"
              height="420"
            />
          </div>
          <h3 class="cs-h3">Hero Landscape</h3>
          <p class="cs-item-text">
            An immersive website designed to showcase Hero Landscape's
            transformative outdoor projects, combining vibrant visuals with
            user-friendly features to inspire clients
          </p>

          <a
            href="https://herolandscapeing.netlify.app/"
            class="cs-button-solid"
            target="_blank"
            >To website
          </a>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-link">
          <div class="cs-picture">
            <!--Mobile Image-->

            <Image
              loading="lazy"
              decoding="async"
              src={constructionwebsite}
              alt="construction website built by NCAT Digital"
              width="413"
              height="420"
            />
          </div>
          <h3 class="cs-h3">Kirck Construction</h3>
          <p class="cs-item-text">
            A modern, responsive website highlighting Kirck Construction's
            expertise in renovations and builds, featuring detailed project
            galleries and client testimonials.
          </p>

          <a
            href="https://kirckconstruction.netlify.app/"
            class="cs-button-solid"
            target="_blank">To website</a
          >
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-link">
          <div class="cs-picture">
            <!--Mobile Image-->

            <Image
              loading="lazy"
              decoding="async"
              src={paintingwebsite}
              alt="painting website built by NCAT Digital"
              width="413"
              height="420"
            />
          </div>
          <h3 class="cs-h3">ABC painters</h3>
          <p class="cs-item-text">
            A vibrant online portfolio for ABC Painters, showcasing bold color
            schemes, completed projects, and a seamless contact form for
            inquiries.
          </p>

          <a
            href="https://yourdreampainterwebsite.netlify.app/"
            class="cs-button-solid"
            target="_blank">To website</a
          >
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-link">
          <div class="cs-picture">
            <!--Mobile Image-->

            <Image
              loading="lazy"
              decoding="async"
              src={handymanwebsite}
              alt="handyman website built by NCAT Digital"
              width="413"
              height="420"
            />
          </div>
          <h3 class="cs-h3">The Master Handyman</h3>
          <p class="cs-item-text">
            An efficient and professional website for The Master Handyman,
            providing easy navigation through services, booking options, and
            project showcases.
          </p>

          <a
            href="https://www.handymanmastery.com/"
            target="_blank"
            class="cs-button-solid">To website</a
          >
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-link">
          <div class="cs-picture">
            <!--Mobile Image-->

            <Image
              loading="lazy"
              decoding="async"
              src={grinderwebsite}
              alt="restaurant website built by NCAT Digital"
              width="413"
              height="420"
            />
          </div>
          <h3 class="cs-h3">Liberty's Mediteranean Grinders</h3>
          <p class="cs-item-text">
            A sleek and elegant website for Liberty's, featuring stunning food
            photography, a menu display, and streamlined online reservation
            functionality.
          </p>

          <a
            href="https://libertysmediterraneangrinders.com/"
            target="_blank"
            class="cs-button-solid">To website</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #portfolio {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (550/16em);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-button-solid {
        font-size: (16/16rem);
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: var(--primary);
        padding: 0 (48/16rem);
        border-radius: (30/25rem);
        background-color: var(--secondary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;

        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 100%;
          width: 0%;
          background: var(--secondaryDark);
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          color: var(--bodyTextColorWhite);
          &:before {
            width: 100%;
          }
        }
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-text {
        max-width: (640/16rem);
        position: relative;
        z-index: 1;
        color: var(--primary);

        &:after {
          /* divider line */
          content: "";
          width: 100%;
          height: 1px;
          margin-top: (24/16rem);
          background: var(--bodyTextColor);
          opacity: 1;
          display: block;
          position: relative;
        }
      }

      .cs-chevron {
        --chevronColor: var(--primary);

        width: (48/16rem);
        height: auto;
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        column-gap: clamp(1rem, 2.5vw, 1.25rem);
        /* 28px - 40px */
        row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
      }

      .cs-item {
        list-style: none;
        width: 100%;
        display: flex;
        grid-column: span 12;
        flex-direction: column;
        align-items: flex-start;

        &:hover {
          .cs-picture {
            img {
              opacity: 0.5;
              transform: scale(1.2);
            }
          }
        }
      }

      .cs-link {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .cs-picture {
        width: 100%;
        height: (240/16rem);
        margin-bottom: (24/16rem);
        background-color: #000;
        overflow: hidden;
        display: block;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: fit;
          transition:
            transform 0.6s,
            opacity 0.3s;
        }
      }

      .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        margin: 0 0 (12/16rem) 0;
        color: var(--primary);
      }

      .cs-item-text {
        font-family: "poppins", sans-serif;
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: left;
        margin: 0 0 (24/16rem) 0;
        color: var(--bodyTextColor);
      }

      .cs-icon {
        width: (20/16rem);
        height: auto;
        display: block;
        transition: transform 0.3s;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #portfolio {
      .cs-container {
        max-width: (1280/16rem);
      }

      .cs-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .cs-flex {
        text-align: left;
        width: 40vw;
        max-width: (640/16rem);
        flex: none;
      }

      .cs-title {
        margin: 0;
      }

      .cs-text {
        padding: (12/16rem) 0 (12/16rem) (24/16rem);

        &:after {
          width: 1px;
          height: 100%;
          margin: 0 (24/16rem) 0 0;
          order: -1;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .cs-item {
        grid-column: span 4;
      }

      .cs-picture {
        /* 240px - 420px */
        height: clamp(15rem, 33vw, 26.25rem);
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #portfolio {
        background-color: var(--dark);

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-item-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-text {
          &:after {
            background: var(--bodyTextColorWhite);
          }
        }
      }
    }
  }
</style>
